[user]
    name = av1155
    email = 117413846+av1155@users.noreply.github.com

[core]
    editor = code --wait
    autocrlf = input
    excludesfile = ~/.gitignore_global
    pager = delta

[init]
    defaultBranch = main

[alias]
    count = !git ls-remote --heads origin | wc -l
    lg = log --graph --oneline --decorate --all

[push]
    default = current

[rebase]
    autosquash = true

[merge]
    conflictStyle = zdiff3

[diff]
    algorithm = histogram
    colorMoved = default

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
